{% extends 'blog/base.html' %}
{% load static %}
{% load payment_tags %}

{% block content %}
<div class="container">
  <div class="row mb-5">
    <div class="col-md-8 mx-auto">
      <div class="text-center mb-5">
        <h1 class="display-4">Preserving Life Stories</h1>
        <p class="lead">The Life Story helps families to keep the memory of their loved ones alive for generations to come</p>
      </div>

      <div class="text-center mb-5">
        <h3>Search Pages</h3>
        <form action="{% url 'search_stories' %}" method="get" class="d-inline-block">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search" style="border-color: #212529;">
            <div class="input-group-append">
              <button type="submit" class="btn btn-dark text-light">Search <i class="fa fa-search ml-1"></i></button>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="card bg-light">
            <div class="card-body">
              <h2 class="card-title">Free Plan</h2>
              <p class="card-text">Create a basic page</p>
              <a href="{% url 'free-plan' %}" class="btn btn-dark text-light">Choose Free Plan</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card bg-light">
            <div class="card-body">
              <h2 class="card-title">Premium Plan</h2>
              <p class="card-text">Unlock advanced features</p>
              {% if user|has_payment %}
              <a href="{% url 'people_list' %}" class="btn btn-dark text-light">Choose Premium Plan</a>
              {% else %}
              <a href="{% url 'premium' %}" class="btn btn-dark text-light">Choose Premium Plan</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
